body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  color: #ffffff;
  background-color: #849d8f;
}

.main-header {
  min-height: 115px;
  margin-bottom: 45px;
}

.inner-page {
  margin-bottom: 0;
}

.main-navigation-wrapper {
  display: flex;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 2px;
}

.container {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 27px;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 24px;
  display: block;
}

.site-navigation,
.user-navigation,
.submenu,
.breadcrumbs,
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a,
.submenu a {
  color: #ffffff;
}

.site-navigation {
  line-height: 18px;
  width: 409px;
  display: flex;
  align-items: center;
}

.site-navigation li {
  margin-right: 28px;
}

.site-navigation a:hover {
  color: #323232;
  background-color: #ffffff;
}

.site-navigation-current {
  text-decoration: none;
  width: 100px;
  min-height: 32px;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  width: 267px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-navigation li:not(:last-child) {
  margin-right: 10px;
}

.user-navigation a {
  text-decoration: none;
  background-color: #9db1a5;
}

.user-navigation a:hover {
  text-decoration: none;
  color: #323232;
  background-color: #f8f7f4;
}

.main-header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

.submenu {
  display: none;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 13px;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  display: block;
  margin-right: 20px;
}

.breadcrumbs-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.catalog {
  margin-bottom: 77px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list-item {
  width: 267px;
  text-align: center;
  margin-bottom: 37px;
}

.catalog-list-item p {
  padding: 0;
  margin: 0;
}

.catalog-list-item h2 {
  padding: 0;
  margin: 0;
}

.product-link {
  text-decoration: none;
  color: #ffffff;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
}

.item-price-weight {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}

.features {
  font-weight: 400;
  color: #323232;
  background-color: #e9ddc4;
  background-image: url('../img/waffle.jpg');
  border-radius: 15px;
  padding-top: 25px;
  padding-left: 21px;
  margin-bottom: 40px;
}

.features h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-list p {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.features-list p:nth-child(odd) {
  width: 475px;
  margin-right: 34px;
}

.features-list p:nth-child(even) {
  width: 469px;
}

.column-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.blog-article {
  background-color: #ffffff;
  background-image: url('../img/strawberry-background.jpg');
  background-repeat: no-repeat;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 23px;
  box-sizing: border-box;
}

.blog-article span {
  font-weight: 500;
  color: #323232;
  margin-bottom: 10px;
  display: block;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  width: 280px;
}

.blog-article a {
  color: #323232;
}

.blog-article a:hover,
.blog-article a:active {
  color: #e84d37;
}

.subscribe {
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url('../img/postal-background.svg');
  background-repeat: no-repeat;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px 5px 5px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-content {
  width: 549px;
  height: 211px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  padding: 30px 20px 35px 20px;
}

.subscribe-content p {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.subscribe input[type='text'] {
  font: inherit;
  line-height: 24px;
  width: 368px;
  min-height: 46px;
  color: #323232;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 15px;
  margin-right: 8px;
}

.subscribe input[type='text']:hover {
  width: 368px;
  min-height: 46px;
  border: 2px solid #9a9a9a;
}

.subscribe input[type='text']:focus {
  width: 368px;
  min-height: 46px;
  border: 2px solid #2e88e4;
}

.button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  background-color: #f06341;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}

.button:hover,
.button:focus {
  background-color: #f07a63;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .004);
}

.button:active {
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, .004);
}

.subscribe .button {
  width: 129px;
  height: 44px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.pagination-list li {
  margin-right: 11px;
}

.pagination-list a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-list li:first-child {
  color: #000000;
  display: block;
  width: 27px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffffff;

}

hr {
  width: 1146px;
  height: 1px;
  opacity: 0.3;
  background-color: #ffffff;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.footer-social ul {
  display: flex;
  width: 267px;
}

.footer-social li {
  margin-right: 11px;
}

.footer-social li,
.footer-partners li {
  list-style: none;
}

.footer-social ul,
.footer-partners ul {
  padding: 0;
}


.footer-partners {
  display: flex;
  width: 333px;
  flex-wrap: wrap;
}

.footer-partners-left {
  margin-right: 32px;
}

.main-footer a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:active {
  color: #ffbc9e;
}

.favorite-item a {
  font-weight: 700;
}

.footer-social a {
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-copyright p {
  padding: 0;
  margin: 0;
}

.footer-copyright a {
  color: #ffffff;
}

.modal {
  display: none;
}