body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 372px;
}

.main-header.inner-page {
  margin-bottom: 30px;
}

.site-wrapper {
  width: 1200px;
  padding-top: 9px;
  margin-left: auto;
  margin-right: auto;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.site-wrapper.inner-page {
  margin-bottom: 0;
  background-image: none;
}

.container {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 2px;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 24px;
  display: block;
}

.site-navigation,
.user-navigation,
.submenu,
.breadcrumbs,
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a,
.submenu a {
  color: #ffffff;
}

.site-navigation {
  line-height: 18px;
  width: 677px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-navigation > li {
  margin-right: 28px;
}

.site-navigation a {
  display: block;
  vertical-align: middle;
  padding: 9px 13px;
  margin-bottom: 5px;
}

.site-navigation a:hover {
  border-radius: 16px;
  color: #323232;
  background-color: #f7f6f3;
  text-decoration: none;
}

.site-navigation a:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.site-navigation-current {
  text-decoration: none;
  background-color: #d07058;
  border-radius: 16px;
}

.site-navigation li:hover .submenu {
  display: block;
  z-index: 6;
}

.submenu {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
  width: 143px;
}

.submenu a {
  color: #323232;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submenu a:hover {
  background-color: #fbded7;
  border-radius: 0px;
}

.submenu li:first-child a:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.submenu li:last-child a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submenu a:active {
  background-color: #f6b5a5;
  border-radius: 0px;
}

.submenu-current a {
  background-color: #d07058;
  color: #ffffff;
}

.submenu-top a {
  font-weight: bold;
}

.submenu-top::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #000000;
  opacity: 0.2;
  position: absolute;
  left: 6px;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  width: 267px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.user-navigation li {
  position: relative;
  z-index: 6;
}

.user-navigation li:not(:last-child) {
  margin-right: 10px;
}

.user-navigation a {
  text-decoration: none;
  background-color: #9db1a5;
}

.user-navigation a:hover {
  text-decoration: none;
  color: #323232;
  background-color: #f8f7f4;
}

.search {
  width: 33px;
  height: 33px;
  display: block;
  vertical-align: baseline;
  border-radius: 50%;
  background-image: url('../img/loupe.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 5px;
}

.search:hover {
  background-image: url('../img/loupe-black.svg');
}

.modal-search {
  display: none;
  position: absolute;
  right: 0px;
  width: 340px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.modal-search .search-form {
  padding: 20px 15px;
}

.modal-search input[type="text"] {
  box-sizing: border-box;
  width: 311px;
  padding: 10px 15px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.modal-search input[type="text"]:hover {
  border: 2px solid #9a9a9a;
  margin: -1px;
}

.modal-search input[type="text"]:focus {
  border: 2px solid #2e88e4;
  margin: -1px;
}

.user-navigation li:first-child:hover .modal-search {
  display: block;
}

.user-navigation li:nth-child(2):hover .modal-login {
  display: block;
}

.user-navigation li:last-child:hover .modal-basket {
  display: block;
}

.button {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: 0;
  border-radius: 25px;
  padding: 11px 25px 11px 25px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

.modal-login {
  display: none;
  position: absolute;
  right: 0px;
  width: 277px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
  box-sizing: border-box;
  width: 241px;
  padding: 10px 15px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 21px;
}

.modal-login input[type="text"]:hover,
.modal-login input[type="password"]:hover {
  border: 2px solid #9a9a9a;
  margin: -1px;
  margin-bottom: 20px;
}

.modal-login input[type="text"]:focus,
.modal-login input[type="password"]:focus {
  border: 2px solid #2e88e4;
  margin: -1px;
  margin-bottom: 20px;
}

.login-form {
  padding: 20px 19px 22px 17px;
}

.login-form-container {
  display: flex;
  justify-content: space-between;
}

.login-form-links {
  display: flex;
  flex-wrap: wrap;
}

.login-form-links a {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #323232;
  text-decoration: underline;
  background-color: transparent;
}

.login-form-links a:hover,
.login-form-links a:active {
  color: #e84d37;
  text-decoration: underline;
}

.login-button {
  margin-right: 21px;
}

.login-link {
  display: block;
  vertical-align: baseline;
  position: relative;
  padding: 9px 15px 9px 40px;
  margin-bottom: 5px;
  border-radius: 16px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before {
  background-image: url("../img/login-black.svg");
}

.empty-basket-link {
  display: block;
  vertical-align: baseline;
  position: relative;
  padding: 9px 15px 9px 40px;
  margin-bottom: 5px;
  border-radius: 16px;
}

.empty-basket-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.empty-basket-link:hover::before {
  background-image: url("../img/basket-black.svg");
}

.full-basket-link {
  display: block;
  vertical-align: baseline;
  position: relative;
  padding: 9px 15px 9px 40px;
  margin-bottom: 5px;
  border-radius: 16px;
}

.full-basket-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url("../img/basket-full.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-basket {
  display: none;
  position: absolute;
  right: 0px;
  width: 540px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.modal-basket-list {
  list-style: none;
  padding: 20px 15px 0px;
}

.modal-basket-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-navigation .modal-basket-item-link {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: normal;
  background-color: transparent;
}

.modal-basket-item-name {
  width: 216px;
  margin-right: 33px;
}

.modal-basket-item-link img {
  margin-right: 14px;
}

.modal-basket-item-price {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: normal;
  margin-right: 29px;
}

.modal-basket-item-price b {
  color: #999999;
  font-weight: normal;
}

.modal-basket-item-total {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: normal;
}

.modal-basket-delete {
  padding: 0px;
  border: 0px;
  background-color: transparent;
  margin-right: 14px;
}

.modal-basket hr {
  width: 510px;
  margin-top: 0px;
  margin-bottom: 15px;
  border: 0px;
  height: 1px;
  background-color: #cacac7;
}

.modal-basket-order {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 21px;
}

.modal-basket-total {
  display: block;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 15px;
}

.modal-basket-offer {
  display: inline-block;
}

.user-navigation .modal-basket-offer:hover {
  color: #ffffff;
}

.main-header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 13px;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  display: block;
  margin-right: 25px;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "\00bb";
  font-weight: normal;
  position: absolute;
  right: 10px;
  top: -2px;
}

.breadcrumbs-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.catalog {
  margin-bottom: 77px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.filter label {
  line-height: 18px;
  font-weight: 500;
}

.filter-first-row {
  display: flex;
  margin-bottom: 16px;
}

.filter-second-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.filter-first-row > div,
.filter-second-row > div {
  margin-right: 14px;
}

.filter-title {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  padding-left: 15px;

}

.custom-select {
  position: relative;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 160px;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  pointer-events: none;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  background: none;
  background-color: #aabab0;
  border: 0;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.custom-select select:hover {
  color: #323232;
}

.custom-select:hover::after {
  border-color: #323232 transparent transparent transparent;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 21px;
  background-color: #aabab0;
  border-radius: 20px;
  padding-top: 16px;
  padding-right: 22px;
  padding-left: 22px;
}

.range-controls .scale {
  position: relative;
  height: 4px;
  background-color: #d1dad3;
}

.range-controls .bar {
  position: absolute;
  left: 20px;
  height: 4px;
  width: 50%;
  padding-left: 20px;
  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 22px;
  height: 23px;
  padding: 0;
  background-image: url("../img/filter-toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 133px;
}

.filter-fat-wrapper,
.filter-fillers-wrapper {
  background-color: #aabab0;
  border-radius: 20px;
  height: 37px;
  display: flex;
  align-items: center;
}

.filter-fat-wrapper:last-child,
.filter-fillers-wrapper:last-child {
  padding-right: 17px;
}

.custom-radio {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-radio input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radio-label {
  padding-left: 46px;
  cursor: pointer;
}

.radio-label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 14px;
  width: 18px;
  height: 18px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.radio-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 23px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
}

.custom-radio input[type="radio"]:checked + .radio-label::after {
  opacity: 0.8;
}

.radio-label:hover::before {
  opacity: 1;
}

.custom-radio input[type="radio"]:checked + .radio-label:hover::after {
  opacity: 1;
}

.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.custom-checkbox input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-label {
  padding-left: 46px;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 14px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.checkbox-label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 14px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-label::after {
  opacity: 0.8;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-label::before {
  opacity: 0;
}

.checkbox-label:hover::before {
  opacity: 1;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-label:hover::after {
  opacity: 1;
}

.filter-button {
  width: 144px;
  height: 37px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: #a6b7ae;
}

.filter-button:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-list-item {
  width: 267px;
  min-height: 327px;
  text-align: center;
  margin-bottom: 37px;
  margin-right: 25px;
  position: relative;
}

.catalog-list-item:nth-child(4n) {
  margin-right: 0px;
}

.catalog-list-item:nth-child(1),
.catalog-list-item:nth-child(2),
.catalog-list-item:nth-child(3),
.catalog-list-item:nth-child(4) {
  z-index: 5;
}

.catalog-list-item:nth-child(5),
.catalog-list-item:nth-child(6),
.catalog-list-item:nth-child(7),
.catalog-list-item:nth-child(8) {
  z-index: 4;
}

.catalog-list-item:nth-child(9),
.catalog-list-item:nth-child(10),
.catalog-list-item:nth-child(11),
.catalog-list-item:nth-child(12) {
  z-index: 3;
}

.hover-wrapper {
  width: 293px;
  min-height: 405px;
  box-sizing: border-box;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: -22px;
  position: absolute;
}

.hover-wrapper * {
  position: relative;
  z-index: 2;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 1;
}

.preview-button {
  display: none;
  text-decoration: none;
}

.catalog-list-item:hover .overlay {
  display: block
}

.catalog-list-item:hover .preview-button {
  display: inline-block;
}

.catalog-list-item p {
  margin: 0;
  position: absolute;
  top: 214px;
}

.catalog-list-item h2 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 8px;
}

.product-link {
  text-decoration: none;
  color: #ffffff;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.item-price-weight {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}

.catalog-item-heading:hover {
  color: #ffbc9e;
}

.slider {
  position: relative;
  text-align: center;
  margin-bottom: 41px;

}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  border-radius: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

.raspberry-gift,
.chocolate-gift {
  background-color: #ffffff;
  background-image: url('../img/raspberry-background.jpg');
  background-repeat: no-repeat;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 23px;
  padding-right: 27px;
  box-sizing: border-box;
}

.chocolate-gift {
  background-image: url('../img/chocolate-background.jpg');
}

.raspberry-gift h2,
.chocolate-gift h2 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 15px;
}

.raspberry-gift p,
.chocolate-gift p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 43px;
}

.raspberry-gift .button-container,
.chocolate-gift .button-container {
  display: flex;
  justify-content: flex-end;
}

.mini-catalog {
  margin-bottom: 6px;
}

.mini-catalog .catalog-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 10;
}

.features {
  font-weight: 400;
  color: #323232;
  background-color: #e9ddc4;
  background-image: url('../img/waffle.jpg');
  border-radius: 15px;
  padding-top: 25px;
  padding-left: 21px;
  margin-bottom: 40px;
}

.features h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  position: relative;
  padding-left: 55px;
}

.features-item:first-child::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 49px;
  height: 49px;
  background-image: url("../img/icecream.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.features-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.features-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.features-item:last-child::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.features-list p {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.features-list p:nth-child(odd) {
  width: 469px;
  margin-right: 34px;
}

.features-list p:nth-child(even) {
  width: 469px;
}

.column-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.blog-article {
  background-color: #ffffff;
  background-image: url('../img/strawberry-background.jpg');
  background-repeat: no-repeat;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 23px;
  box-sizing: border-box;
}

.blog-article span {
  font-weight: 500;
  color: #323232;
  margin-bottom: 10px;
  display: block;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  width: 280px;
}

.blog-article a {
  color: #323232;
}

.blog-article a:hover,
.blog-article a:active {
  color: #e84d37;
}

.subscribe {
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url('../img/postal-background.svg');
  background-repeat: no-repeat;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px 5px 5px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-content {
  width: 549px;
  height: 211px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  padding: 30px 20px 35px 20px;
}

.subscribe-content p {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

.subscribe input[type='text'] {
  line-height: 24px;
  width: 363px;
  padding: 12px 12px 12px 15px;
  color: #323232;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-right: 11px;
}

.subscribe input[type='text']:hover {
  border: 2px solid #9a9a9a;
  margin: -1px;
  margin-right: 12px;
}

.subscribe input[type='text']:focus {
  border: 2px solid #2e88e4;
  margin: -1px;
  margin-right: 12px;
}

.subscribe .button {
  padding-left: 19px;
  padding-right: 19px;
}

.map {
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  position: relative;
}

.map img {
  border: 0px;
}

.pin {
  position: absolute;
  top: 129px;
  left: 276px;
  width: 80px;
  height: 140px;
  background-image: url("../img/map-icecream.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.map-contact {
  position: absolute;
  top: 59px;
  right: 27px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 25px 32px 25px;
  color: #323232;
}

.map-contact p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.map-contact a {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;

}

.map-contact p:nth-child(2) {
  margin-bottom: 17px;
}

.map-contact p:nth-child(2),
.map-contact p:nth-child(4) {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.map-contact p:nth-child(5) {
  margin-bottom: 20px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}


.pagination-list li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 13px;
  height: 13px;
  max-width: 13px;
  max-height: 13px;
  text-align: center;
  padding: 7px;
  border-radius: 50%;
}

.pagination-list a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-list li:not(.current-pagination):hover {
  background-color: #9db1a5;
  color: #ffffff;
  width: 13px;
  height: 13px;
  max-width: 13px;
  max-height: 13px;
  text-align: center;
  padding: 7px;
  border-radius: 50%;
}

.pagination-list li:not(.current-pagination):active {
  background-color: #ffffff;
  color: #000000;
}

.pagination-list li:first-child:hover,
.pagination-list li:last-child:hover {
  background-color: transparent;
}

.current-pagination {
  color: #000000;
  width: 13px;
  height: 13px;
  max-width: 13px;
  max-height: 13px;
  text-align: center;
  padding: 7px;
  border-radius: 50%;
  background-color: #ffffff;
}

.previous-pagination-page {
  transform: rotate(180deg);
}

hr {
  width: 1146px;
  height: 1px;
  opacity: 0.3;
  background-color: #ffffff;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.footer-social ul {
  display: flex;
  width: 267px;
}

.footer-social li {
  margin-right: 11px;
}

.footer-social li,
.footer-partners li {
  list-style: none;
}

.footer-social ul,
.footer-partners ul {
  padding: 0;
}


.footer-partners {
  display: flex;
  width: 333px;
  flex-wrap: wrap;
}

.footer-partners-left {
  margin-right: 32px;
}

.main-footer a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:active {
  color: #ffbc9e;
}

.favorite-item {
  position: relative;
}

.favorite-item a::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #849d8f;
}

.favorite-item a {
  font-weight: 700;
}

.footer-social li {
  margin-right: 17px;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #849D8F;
  border-radius: 50%;
  opacity: 0.8;
  border: 2px solid #c2cec7;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active {
  background-color: #e9e9e9;
}

.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.vkontakte {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social a {
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-copyright p {
  padding: 0;
  margin: 0;
}

.footer-copyright a {
  color: #ffffff;
}

.modal-contact {
  display: none;
  position: fixed;
  top: 337px;
  left: 50%;
  width: 478px;
  margin-left: -239px;
  border-radius: 10px;
  background-color: #f8f7f4;
  padding-bottom: 1px;
}

.contact-form {
  padding: 18px 26px 27px 24px;
}

.modal-contact-heading {
  margin: 0;
  line-height: 28px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin-bottom: 22px;
}

.modal-close {
  position: absolute;
  top: 17px;
  left: 436px;
  background-color: transparent;
  border: 0px;
}

.contact-form input[type="text"] {
  box-sizing: border-box;
  width: 267px;
  padding: 10px 15px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 21px;
}

.contact-form input[type="text"]:hover {
  border: 2px solid #9a9a9a;
  margin: -1px;
  margin-bottom: 20px;
}

.contact-form input[type="text"]:focus,
  {
  border: 2px solid #2e88e4;
  margin: -1px;
  margin-bottom: 20px;
}

.contact-form textarea {
  width: 428px;
  height: 155px;
  box-sizing: border-box;
  padding: 10px 15px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #999999;
}

.contact-form textarea:hover {
  border: 2px solid #9a9a9a;
  margin: -1px;
  margin-bottom: 25px;
}

.contact-form textarea:focus {
  border: 2px solid #2e88e4;
  margin: -1px;
  margin-bottom: 25px;
}

.contact-form .button {
  display: inline-block;
  text-align: right;
  margin-left: 286px;
}
